.add-remote-credit-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;

  button {
    margin-top: initial;
  }
}

@media screen and (max-width: 600px) {
  .add-remote-credit-form {
    min-width: 300px;
  }
}