.payment-report {
  display: flex;
  align-items: end;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 1rem;

  &__buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .payment-report {
    display: block;
  }
}