@use '@/app/variables' as variables;

.customer-card {
  border: 1px solid variables.$application-color;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s;

  .customer-action-button-container {
    position: initial;
  }

  button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    background: #fff;
    border: 2px solid variables.$application-color;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 4px 15px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    font-style: italic;
  }

  &:hover {
    transform: scale(0.9);
    background-color: #f1f1f1;
  }

  &__customer {
    display: flex;
    justify-content: space-between;

    &__data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @media screen and (max-width: 730px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__dates {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
}