.payment-report-screen {
  padding: 10px 10px;

  &__dates {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    &__range,
    &__generate-in{
      color: grey;
      font-size: 15px;
    }

    &__generate-in {
      font-weight: bold;
    }
  }

  &__graph {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &__data {
      display: flex;

      &__tax {
        span {
          font-style: italic;
        }

        display: flex;
        flex-direction: column;
      }
    }
  }
}