@use '@/app/variables' as variables;

.action-button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  background: #fff;
  border: 2px solid variables.$application-color;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  padding: 4px 15px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-style: italic;

  svg {
    color: variables.$application-color;
  }

  &:hover {
    opacity: 0.6;
    background: #ccc;

    svg {
      animation: rotate-icon 0.6s linear infinite;
    }
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
