@use '@/app/variables' as variables;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 16.938rem;
  height: 100%;
  transition: all .3s;
  background: variables.$application-color;
  color: #fff;
  font-size: 14px;
  overflow: auto;
  z-index: 99;
  transform: translate(-16.938rem);

  &--open {
    transform: translate(0)
  }
}