@use '@/app/variables' as variables;

.header {
  overflow: hidden;
  background-color: variables.$application-color;
  padding: 1.25rem 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;

  &__title-wrapper {
    display: flex;
    align-items: center;

    &__burger-btn {
      display: block;
      width: 1.625rem;
      height: 1.875rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: inherit;
      color: inherit;
      text-transform: none;
      margin: 0 1.5rem;

      &__line {
        background: #fff;
        height: 0.25rem;
        width: 100%;
        left: 0;
        display: block;
        transition: all .5s;
        transform: rotate(0);

        &::before {
          content: "";
          background: #fff;
          height: 0.25rem;
          width: 100%;
          left: 0;
          position: absolute;
          display: block;
          transition: all .5s;
          transform: rotate(0);
          top: -0.625rem;
        }

        &::after {
          content: "";
          background: #fff;
          height: 0.25rem;
          width: 100%;
          left: 0;
          position: absolute;
          display: block;
          transition: all .5s;
          transform: rotate(0);
          top: 0.625rem;
        }
      }

      &--open {
        &__line {
          &::before {
            transform: rotate(-45deg) translate(-0.313rem) translateY(-0.188rem);
          }

          &::after {
            transform: rotate(45deg) translate(-0.313rem) translateY(0.188rem);
          }
        }
      }
    }

    &-logo {
      display: flex;
      flex-direction: column;

      &__logo {
        font-size: 1.563rem;
        font-weight: bold;
        color: #fff;
        padding: 0.75rem;
        line-height: 1.563rem;
      }

      &__customer {
        padding: 0 0.75rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: #fff;
      }
    }
  }

  &__right {
    margin-right: 4rem;
    &__list {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      list-style: none;

      &__item {
        svg {
          color: #fff;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            animation: pulse 1s infinite, fadeInOut 1s infinite;
          }
        }

        &__button {
          border: none;
          background: none;
          font-size: 1.5rem;
          color: #fff;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            animation: pulse 1s infinite, fadeInOut 1s infinite;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}