.customer-action-button-container {
  position: absolute;
  top: 27px;
  left: 120px;

  display: flex;
  gap: 20px;

  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    position: relative;
    left: 0;
  }

  .remove-customer {
    border: 1px solid #ff4c4c !important;
  }
}